@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
  font-family: 'Inter', sans-serif;
}

p,
b {
  font-family: 'Inter', sans-serif;
  margin: 0;
}
a {
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  color: #000000;
}

body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
  font-family: 'Inter', sans-serif;
}

.container {
  max-width: 980px;
  margin: 0 auto;
}

.App {
  margin: 50px auto 0;
  max-width: 1080px;

  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
}

.headerLeft {
  display: flex;
  align-items: center;

  img {
    margin-right: 15px;
  }
}

header {
  padding-top: 45px;
  padding-bottom: 45px;
  border-bottom: 1px solid #eaeaea;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerInfo {
  h3 {
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
  }
}

.sub-title {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #9d9d9d;
}

.headerRight {
  text-decoration: none;
  list-style: none;
  display: flex;

  li {
    margin-left: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;

    span {
      width: 40px;
      margin-left: 8px;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: #5c5c5c;
    }
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  min-height: 290px;
  width: 100%;
}
.card {
  margin-right: 35px;
  margin-bottom: 30px;
  width: 210px;
  height: 260px;
  position: relative;

  background: #ffffff;
  border: 1px solid #f3f3f3;
  box-sizing: border-box;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
  min-height: 49px;
}

.search {
  input {
    width: 200px;
    height: 45px;
    border: 1px solid #f3f3f3;
    border-radius: 10px;
    outline: none;
    padding-left: 40px;
    font-family: 'Inter';
    font-size: 14px;
    font-weight: normal;

    &::placeholder {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      color: #c4c4c4;
    }
  }

  img {
    position: absolute;
    margin-top: 16px;
    margin-left: 16px;
  }
}

h1 {
  overflow: hidden;
  display: block;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  color: #000000;
  margin: 0;
}

.sidebar-wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  right: 0;
  width: 385px;
  height: 100%;
  top: 0px;
  background: #ffffff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);

  img {
    cursor: pointer;
  }

  h2 {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin: 30px;
  }
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 45px;
}

.card-side-items {
  margin: 0 30px;
}

.sidebar-top {
  flex: 1;
  margin-bottom: 20px;
  overflow: auto;
}

.card-side-item {
  margin-bottom: 20px;
  width: 325px;
  height: 119px;
  background: #ffffff;
  border: 1px solid #f3f3f3;
  box-sizing: border-box;
  border-radius: 20px;

  &-inner {
    margin-top: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .sidebar-pic {
      margin-left: 15px;
    }

    .close-pic {
      margin-right: 15px;
      margin-top: 10px;
    }
  }
}

.card-side-descr {
  p {
    margin: 8px 0;
    width: 150px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    color: #000000;
  }

  b {
    width: 150px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }
}

.sidebar-price {
  display: flex;
  margin: 0 30px;
  margin-top: 10px;

  p {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
  }

  b {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
  }

  div {
    position: relative;
    top: -4px;
    flex: 1;
    border-bottom: 1px dashed #dfdfdf;
    margin: 0 8px;
  }
}

.sidebar-submit {
  display: block;
  margin: 30px auto;
  width: 325px;
  height: 55px;
  left: 895px;
  top: 974px;
  border: none;
  background: #9dd558;
  border-radius: 18px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  &:disabled {
    background: #454e3d;
    &:hover {
      background-color: #454e3d;
    }
  }

  &:hover {
    transition: 0.2s ease;
    background-color: lighten($color: #9dd558, $amount: 5);
  }

  &:active {
    transition: 0.2s ease;
    background-color: darken($color: #9dd558, $amount: 5);
  }

  svg {
    position: absolute;
    margin-top: 3px;
    margin-left: 50px;
  }
}
.no-items {
  text-align: center;
  height: 0;
}
.favcount {
  position: absolute;
  top: -7px;
  right: -11px;
  font-size: 16px;
  color: #ffa3a3;
}
#personal-card {
  img {
    display: none;
  }
  .yeezy-card-img {
    display: block;
  }
}
